/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-color: #000;
    --background-color: #fff;
    --label-line-color: #fff;

    --background-image: 
      repeating-linear-gradient(to right, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
      linear-gradient(to bottom, #e7e7e7 .01%, #1a1a1a);
      
    --font-size: 18px;
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --main-card-font-weight: 400;
    --header-card-font-weight: 700;

    --color-button-text: #fff;

    --color-body-heart: #ff0000;
    --color-none-body-heart: rgba(256, 0, 0, 0);
}